<a href="/dashboard" class="back"> &larr; Dashboard</a>

    <article class="new-page">
        <section class="new-form">
            <div class="form-heading">
                <h2>Create A New Post</h2>
            </div>

            <div class="form-section">
                <form class="new-post-form">
                    <div class="post-title-section">
                        <label for="post-label">Title</label>
                        <input type="text" id="post-label" name="post-label"/>
                    </div>

                    <div class="post-content">
                        <label for="post-content">Post Content</label>
                        <textarea class="entry-field" id="post-content" name="post-content"></textarea>
                    </div>

                    <button type="submit" class="btn">Submit</button>

                </form>
            </div>
        </section>
    </article>

    <script src="/public/addPost.js"></script>