<a href="/dashboard" class="back"> &larr; Dashboard</a>

<br>

{{> post-info post}}

{{#if loggedIn}}

    <form class="comment-form">
        <div>
            <textarea name="comment-body"></textarea>
        </div>

        <div>
            <button type="submit">Add a comment</button>
        </div>
    </form>

{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}

<script src="/public/comment.js"></script>

{{/if}}
